<div class="container">
    <div class="row">
        <div class="col-md-3 bg-light ml-3">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0 ">
                <li class="nav-item ">
                  <a class="nav-link" href="#">3Pc Collection </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">2Pc Collection </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Tunic/Kurti</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Denim Jackets</a>
                  </li>
                <li class="nav-item">
                  <a class="nav-link" href="#" >Fragrances
                   </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Jewellery</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Shawls/Stoles</a>
                  </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" > Face Mask </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">True Luxe Silk Collection</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#"> 3Pc Silk Handwork</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#"> Kameez Shalwar Collection</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Velvet Collection</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Waistcoat Collection</a>
                  </li>
              </ul>
        </div>
        <div class="col-md-8 bg-light text-dark ml-5">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Alias autem officia repellat commodi cupiditate sunt perspiciatis quae totam reprehenderit itaque! Optio velit cumque cum eum placeat minus labore amet in!Lorem</p>

        </div>
    </div>
</div>

